<!DOCTYPE html>
<html lang="en">
{% include 'header.html.twig' %}
<body>
<div>
    {% include 'navtabs.html.twig' %}
    {% include 'tabpanes.html.twig' %}
</div>
{% include 'modal.html.twig' %}
</body>
</html>